__pycache__/get_data.cpython-37.pyc
__pycache__/input_config.cpython-37.pyc
__pycache__/account_info.cpython-37.pyc
__pycache__/get_data.cpython-37.pyc
.tmp.driveupload/
binance_rsicd_files/__pycache__/
__pycache__/
trash.py
screen_test.py
